// put user info in here to keep from being put on github.

#define wlSSID1 "WiFi-Network-Name"
#define wlPASS1 "Password-Here"

//#define wlSSID2 *network*
//#define wlPASS2 *pass*

// the offsetNTP is number of seconds offset from GMT.
#define offsetNTP -25200 // PST - America/Los_Angeles (-7hrs)
//#define offsetNTP -28800 // PDT - America/Los_Angeles (-8hrs)
//#define offsetNTP 0 // UTC

#define disptime 20
